/* ChalkMark.module.css */

.chalkMark rect {
    animation: reveal .7s linear forwards;
}

@keyframes reveal {
    from {
        width: 0;
    }

    to {
        width: 423px;
        /* Adjust to match the width of your SVG's viewBox */
    }
}