/* ChalkMark.module.css */

.chalkMark rect {
  animation: reveal .5s linear forwards;
}

@keyframes reveal {
  from {
    width: 0;
  }

  to {
    width: 423px;
    /* Adjust to match the width of your SVG's viewBox */
  }
}

.animate,
.animate2,
.animate3 {
  opacity: 1;
  transition: opacity 1s linear;
}

.animate2 {
  transition-delay: 1000ms;
}

.animate3 {
  transition-delay: 2000ms;
}