@keyframes drawCircle {
  from {
    stroke-dashoffset: 300;
    /* Start with the full path hidden */
  }

  to {
    stroke-dashoffset: 0;
    /* Fully reveal the path */
  }
}

@keyframes drawTick {
  from {
    stroke-dashoffset: 100;
    /* Start with the full path hidden */
  }

  to {
    stroke-dashoffset: 0;
    /* Fully reveal the path */
  }
}

/* Apply animations to paths */
.animate-success-tick #Vector {
  animation: drawCircle 1s ease forwards;
}

.animate-success-tick #Vector_2 {
  animation: drawTick 0.5s ease forwards 1s;
  /* Starts after the circle is drawn */
}

/* Radio buttons */
.radio-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.custom-radio {
  width: 16px;
  height: 16px;
  border: 2px solid gray;
  border-radius: 50%;
  display: inline-block;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.radio-input:checked + .custom-radio {
  border-color: #75C0B1;
  background-color: #75C0B1;
}
