@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poetsen+One:wght@400&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* black button */
.custom-black-button:hover {
  background-color: #F6E2D7;
  border: 2px solid #4D1435;
}

.custom-black-button:hover .custom-button-icon path,
.custom-black-button:hover .custom-button-icon {
  color: #4D1435;
}

/* white button */
.custom-white-button:hover {
  border: 2px solid #F6E2D8;
  background-color: #4D1435;
}

.custom-white-button:hover .custom-button-icon path,
.custom-white-button:hover .custom-button-icon {
  color: white;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
}

.slick-initialized {
  display: none;
}

@media (min-width: 1024px) {
  .slick-initialized {
    display: block;
  }

  .slick-slide>div {
    margin: 0 20px;
  }

  .slick-slider {
    z-index: 20;
  }

  .ytp-gradient-bottom {
    height: 77px !important;
    padding: 0 !important;
    background: lightblue;
  }

  .methods-container {
    max-height: calc(100% - 32px);
  }
}

/* Methods page */
/* Hide scrollbar for Chrome, Safari, and Opera */
.methods-container {
  overflow-y: scroll;
}

.methods-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.methods-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes animate-idea {
  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}

.animate-idea-svg {
  animation: animate-idea 1s;
  transform-origin: center center;
}