.bounce {
  animation: bounceAnimation 1.25s infinite;
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(10px);
  }

  40%,
  100% {
    transform: translateY(0px);
  }
}

.chalkMark rect {
  animation: reveal 0.7s linear forwards;
}

@keyframes reveal {
  from {
    width: 0;
  }

  to {
    width: 423px;
    /* Adjust to match the width of your SVG's viewBox */
  }
}
