.volume-control {
  display: flex;
  align-items: center;
}

.sound-range {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.volume-control:hover .sound-range {
  width: 100px;
  opacity: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #1a243426;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1a243426;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1a243426;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1a243426;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #1a2434;
  border-color: transparent;
  color: transparent;
}

/*  */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    transform: rotate(9.88deg);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    transform: rotate(4.92deg);
    opacity: 1;
  }
}

/* Apply the animation only on screens 1024px and wider */
@media (min-width: 1024px) {
  .animate-slide-in-left {
    animation: slideInFromLeft 1s ease-out forwards;
  }

  .animate-slide-in-right {
    animation: slideInFromRight 1s ease-out forwards;
  }
}

/* ChalkMark.module.css */

.chalkMark rect {
  animation: reveal 0.7s linear forwards;
}

@keyframes reveal {
  from {
    width: 0;
  }

  to {
    width: 423px;
    /* Adjust to match the width of your SVG's viewBox */
  }
}
